In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

In [2]:
dataset = pd.read_csv('dataset - fix.csv')
dataset.tail()

,class,name,age,total,grade,label,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
55,Responsible,yunita kesya,15,7,2,5,1,1,1,0,1,0,0,1,1,1,0,0,0,0,0,0
56,Integrity,muhammad irsan nurzaini,14,6,2,6,0,1,0,0,0,0,0,0,1,1,1,1,0,1,0,0
57,Enthusiastic,ghina ussaadah,10,3,1,1,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
58,Responsible,alfadhlan,12,1,2,5,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
59,Diligent,wulan,22,14,4,8,1,1,1,1,1,1,1,1,1,1,1,0,1,1,0,1

In [3]:
df = dataset[['age','total','grade','label']]
df.head()

   age  total  grade  label
0   17     15      3      8
1   25     14      4      8
2   24     14      4      8
3   18     14      3      8
4   10      1      1      3

In [4]:
x = df.drop(['label'], axis=1).values
y = df.label.values

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, random_state=42, stratify=y)
scale = MinMaxScaler()
x_train = scale.fit_transform(x_train)
x_test = scale.transform(x_test)
reg = RandomForestRegressor()
reg.fit(x_train, y_train)
y_pred = reg.predict(x_test)
score = r2_score(y_true=y_test, y_pred=y_pred)
print(score)
print(reg.score(x_train,y_train))

0.8574619678210327
0.8510049976647103

In [6]:
from kebanyakan_model import tumpukan_regresi, tumpukan_klasifikasi, proses, regresi, klasifikasi

In [7]:
proses(x,y,save='yes')

In [8]:
regresi(x_train, x_test, y_train, y_test, regressor='svr',save='yes')